body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #fff;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.section {
  padding: 120px 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header nav {
  display: flex;
  gap: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.container {
  /* max-width: 1158px; */
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.page-header .logo {
  padding: 25.5px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-span-header {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-list-link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}
.address-main {
  font-style: normal;
}
.address-list-link {
  color: #434455;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}
/* section 1 */
.hero-image {
  background-color: #2e2f42;
}
.hero-image .container {
  padding-top: 68px;
  padding-bottom: 68px;
}
.hero-image-title {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  /* padding-top: 188px; */
  /* padding-bottom: 292px; */
}
.hero-image-button {
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* padding-top: 356px; */
  /* padding-bottom: 188px; */
}
.hero-image-button:hover,
.hero-image-button:focus {
  background: var(--OCEAN, #404bbf);
}
/* section-2 */
.feature-title {
  font-size: 20px;
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-text {
  letter-spacing: 0.02em;
}
/* section-3 */
.team-section {
  background-color: #f4f4fd;
}
.team-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-section-name {
  font-size: 20px;
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-section-list-item {
  background-color: #ffffff;
}
.team-section-list-text {
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* section-4 */
.portfolio-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-section-name {
  font-size: 20px;
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-section-text {
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  /* padding-top: 140px; */
  /* padding-bottom: 100px; */
}
.footer .container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 17.5px;
  padding-top: 101.5px;
  padding-bottom: 100px;
}
/* .footer .container .logo { 
  padding-top: 101.5px;
  padding-bottom: 189.5px;
}
.footer .container .footer-text {
  padding-top: 140px;
  padding-bottom: 100px;
}*/
